// your code here
#collection-page {
  text-align: center;
}

#headerImage {
  margin: 0 auto;
}

.options-container > h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.input--dropdown {
  margin-bottom: 0.5em;
  width: 90%;
}

.options-container > p {
  color: #6849e3;
}

.product--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  grid-auto-rows: auto;
  margin: 1em;
}

.product--card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  text-align: center;
}

.productImage {
  width: 100%;
  height: auto;
}

.swatches {
  display: flex;
  justify-content: space-evenly;
}
.swatch {
  flex: 0 0 auto;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  margin-top: 1.25px;
  display: inline-block;
}

.outline {
  border: 3px solid black;
  background-clip: content-box;
  padding: 3px;
}

.Blue {
  background-color: #00bcd3;
}

.Red {
  background-color: #ef5350;
}

.Gold {
  background-color: #fec109;
}
.Brown {
  background-color: #af806e;
}
.Medium {
  background-color: #cdcdcd;
}
.Navy {
  background-color: #2f3676;
}
.Yellow {
  background-color: #fec109;
}
.Dark {
  background-color: #2f3676;
}
.Light {
  background-color: #00bcd3;
}

@media screen and (min-width: 1024px) {
  #collection-page {
    margin: 0 2em 0 2em;
  }

  .options-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .options-container > * {
    flex: 0 0 auto;
  }

  .input--dropdown {
    margin-bottom: 0.5em;
    width: calc(100% / 3.12);
  }

  .product--container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin: 1em 0 0 0;
  }

  .swatch {
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.5em 0 0.5em;
  }
}
